In [21]:
# import libraries
import folium
import pandas as pd
 
# Make a data frame with dots to show on the map
data1 = pd.DataFrame({'lon':[6.23228, 6.23694, 6.214468244],
                    'lat':[-75.59199, -75.56171, -75.58074717],
                    'name':['muerte1', 'muerte2', 'muerte3']})
data1
 
# Make an empty map
n = folium.Map(location=[6.261834,-75.6190663], tiles="OpenStreetMap", zoom_start=10)
 
# I can add marker one by one on the map
for i in range(len(data1)):
    folium.Marker([data1.iloc[i]['lon'], data1.iloc[i]['lat']], popup=data1.iloc[i]['name']).add_to(n)
 
# Save it as html
n.save('MUERTES.html')

In [22]:
[data1.iloc[i]['lon'], data1.iloc[i]['lat']]

[6.214468244, -75.58074717]

In [19]:
data1

        lat        lon     name
0  6.232280 -75.591990  muerte1
1  6.236940 -75.561710  muerte2
2  6.214468 -75.580747  muerte3

In [11]:
data1.dtypes

lat     float64
lon     float64
name     object
dtype: object

In [12]:
data.dtypes

lat     float64
lon     float64
name     object
dtype: object

In [6]:
# import libraries
import folium
import pandas as pd
 
# Make a data frame with dots to show on the map
data = pd.DataFrame({
'lat':[-58, 2, 145, 30.32, -4.03, -73.57, 36.82, -38.5],
'lon':[-34, 49, -38, 59.93, 5.33, 45.52, -1.29, -12.97],
'name':['Buenos Aires', 'Paris', 'melbourne', 'St Petersbourg', 'Abidjan', 'Montreal', 'Nairobi', 'Salvador']
})
data
 
# Make an empty map
m = folium.Map(location=[20, 0], tiles="OpenStreetMap", zoom_start=10)
 
# I can add marker one by one on the map
for i in range(0,len(data)):
    folium.Marker([data.iloc[i]['lon'], data.iloc[i]['lat']], popup=data.iloc[i]['name']).add_to(m)
 
# Save it as html
m.save('312_markers_on_folium_map1.html')